*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.big{ width: 20px; height: 20px; margin-right: 5px; }
.fff label{
	font-size: 50px;
}
img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
 }
body
{
	background-color:#e3e3e3;
}
.bg{
	background: #e3e3e3;
	padding: 0px 0px;
	font-family: 'Montserrat', sans-serif;
}

.form-wrap{
	position: relative;
	box-shadow: rgba(221,230,237,0.4) 0px 3px 10px 0px;
	background-color: white;
}

#regForm{
	padding: 50px 30px 30px 30px;
}

.form-heading{
	position: relative;
	width:110%;
	left: -5%;
	top:15px;
	padding: 15px 0px;
	text-align: center;
	color: white;
	background-color: #8e2de2;
	background:linear-gradient(to right, #4a00e0, #8e2de2);
}

.form-heading:before{
	position: absolute;
	content:'';
	left:0;
	bottom: -20px;
	width: 18px;
	height: 20px;
	background-color: #5f2bc2;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.form-heading:after{
	position: absolute;
	content:'';
	right: 0px;
	bottom: -20px;
	width: 18px;
	height: 20px;
	background-color: #5f2bc2;
	clip-path: polygon(0 0, 0 100% , 100% 0);
}

.form-heading h1{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	margin: 0px;
}

.form-heading p{
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

#regForm label{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

.form-control{
	border:none;
	padding:0px;
	border-bottom: 2px solid #b5b5b5;
	border-radius: 0px;
}

.form-control:focus{
	box-shadow: none;
}

::placeholder{
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 500;
  color: #b5b5b5;
}

.btn-primary{
	background-color: #8e2de2;
	border:none;
	margin:20px 0px 0px 0px;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	background:linear-gradient(to right, #4a00e0, #8e2de2);
}

#p1, #p2, #p3{
	color: #ff0000;
	font-size: 13px;
	font-weight: 600;
}


.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
#yrss
{
	color: red;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





.button-group {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.button-group button {
	padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px;
}
.button-group button:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 0 #ccc;
}
.dialog-container {
	position: absolute;
	left: 50%;
	top: -30%;
	transform: translateX(-50%) translateY(-50%);
	width: 400px;
	background: #fff;
	padding: 10px;
	border: 2px solid #ddd;
	box-shadow: 1px 1px 5px 1px #ccc;
	border-radius: 10px;
	opacity: 0;
	transition: all 0.3s linear 0s;
}
.dialog-header {
	padding: 10px;
	font-weight: bold;
	background: #575757;
	color: #f6f7f8;
}
.dialog-body {
	padding: 10px;
	line-height: 30px;
}
.dialog-footer {
	text-align: center;
	background: #f5f5f2;
	padding: 3px 0;
}
.dialog-footer a {
	display: inline-block;
	width: 100px;
	padding: 5px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #eee;
	cursor: pointer;
}
.dialog-footer a:active {
	box-shadow: inset 2px 2px 4px 0 #ccc;
	color: #666;
}



label{
	user-select: none;
}

.top{
    margin-left: 30%;
    padding-top: 8px;
    align-items: center;
    user-select: none;
}
#a2{opacity: 0%;}
  .title {
	color:rgb(246, 14, 42);
	font-family: arial;
	position: relative;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	font-size: 2.5em;
	}
	
	.title::after {
	content: attr(data-title-text);
	color:rgb(14, 42, 246);
	position: absolute;
	left: 0;
	top: 0;
	clip: rect(0, 1000px, 30px, 0);
	}
  @media screen and (max-width: 600px) {
.top img{
	width: 44px;
	height: 60px;
	align-items: center;
	margin-left: 50%;
}
/* .title{
	display: block;
	align-items: center;
	text-align: center;
} */
#a1{display: none;}
#a2{opacity: 100%;}
.top
{
	margin-left: 1%;
}
  }

	
	
  h2{
    user-select: none;
}
#events{
    color: blue;
}
.popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
		background: #03549a;
		border-radius: 100%;
		width: 40px;
		height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
	margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #1ade00;
		border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}
.popup a:hover{
    cursor: pointer;
}


.maintab{    
	align-items: center;
	position: fixed;
	/* margin-left: 90%; */
	top: 0;
	right: 0;
}

#oops{
    display: none;
}
#tabLimit
{
    /* display: none; */
    margin-left: 10px;
    width: 80px;
    height: 80px;
    background-color: rgb(40, 136, 253);
    border-radius:50%;
    
    display: flex;
    /* position:relative; */
}
#abc{
	align-self: center;
	padding-left: 28px;
	

}

